.new-tweet {
  background-color: #e8e8e8;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  width: 380px;
  border-radius: 5px;
  padding-bottom: 40px;
  border-style: solid;
  border-width: 1px;
}

.counter {
  float: right;
}

.text-box {
  padding: 5px;
  width: 100%;
  display: block;
  margin-bottom: 5px;
}

.tweet-button {
  float: left;
}

.new-tweet h2 {
  float: left;
  padding-left: 0px;
  border-bottom: 1px solid black;
  width: 100%;
  text-align: left;
}